body{
    background-color: aqua;
}

div{
    width: 350px;
    background-color:white;
    margin: auto;
}
.login-k {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}
input[type=text], input[type=password] {
    width: calc(100% - 20px);
    padding: 10px;
}
.login-b{
    background-color:#FFD700;
  color:white;
  padding-top :10px;
  padding-bottom :10px;
  width :100%;
  border:none;
  cursor:pointer
 }


